.wrapper {
  border-bottom: 1px black solid;
  margin-top: 10px;
  padding-bottom: 5px;
}

.column {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.buttonSubmit {
  width: 100px;
  height: 40px;
  flex-direction: row;

  margin: auto;
}
